<div>
    <h2 id="page-heading">
        <span jhiTranslate="btbApp.commande.home.title">Commandes</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-commande" [routerLink]="['/commande/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span jhiTranslate="btbApp.commande.home.createLabel">
                Create new Commande
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br />
    <div class="table-responsive" *ngIf="commandes">
        <table mat-table [dataSource]="commandes">

            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef> ID </th>
                <td mat-cell *matCellDef="let commande">
                    <a [routerLink]="['/commande', commande.id, 'view' ]">{{commande.id}}</a>
                </td>
            </ng-container>

            <ng-container matColumnDef="date">
                <th mat-header-cell *matHeaderCellDef> Date </th>
                <td mat-cell *matCellDef="let commande">{{commande.date | date:'mediumDate'}}</td>
            </ng-container>

            <ng-container matColumnDef="prix">
                <th mat-header-cell *matHeaderCellDef> Prix </th>
                <td mat-cell *matCellDef="let commande">{{commande.prix}}</td>
            </ng-container>

            <ng-container matColumnDef="etat">
                <th mat-header-cell *matHeaderCellDef> Etat </th>
                <td mat-cell *matCellDef="let commande" jhiTranslate="{{'btbApp.EtatCommande.' + commande.etat}}">
                    {{commande.etat}}</td>

            </ng-container>

            <ng-container matColumnDef="offre">
                <th mat-header-cell *matHeaderCellDef> Offre </th>
                <td mat-cell *matCellDef="let commande">
                    <div *ngIf="commande.offreId">
                        <a [routerLink]="['../offre', commande.offreId , 'view' ]">{{commande.offreId}}</a>
                    </div>
                </td>
            </ng-container>

            <ng-container matColumnDef="client">
                <th mat-header-cell *matHeaderCellDef> Client </th>
                <td mat-cell *matCellDef="let commande">
                    <div *ngIf="commande.clientId">
                        <a [routerLink]="['../client', commande.clientId , 'view' ]">{{commande.clientId}}</a>
                    </div>
                </td>
            </ng-container>

            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef> </th>
                <td class="text-right" mat-cell *matCellDef="let commande">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit" [routerLink]="['/commande', commande.id, 'view' ]" class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit" [routerLink]="['/commande', commande.id, 'edit']" class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit" [routerLink]="['/', { outlets: { popup: 'commande/'+ commande.id + '/delete'} }]"
                            replaceUrl="true" queryParamsHandling="merge" class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
</div>