<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-commande-heading" jhiTranslate="btbApp.commande.home.createOrEditLabel">Create or edit a Commande</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!commande.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="commande.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="btbApp.commande.date" for="field_date">Date</label>
                    <div class="input-group">
                        <input id="field_date" type="text" class="form-control" name="date" ngbDatepicker  #dateDp="ngbDatepicker" [(ngModel)]="commande.date"
                        required/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dateDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                    <div [hidden]="!(editForm.controls.date?.dirty && editForm.controls.date?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.date?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="btbApp.commande.prix" for="field_prix">Prix</label>
                    <input type="number" class="form-control" name="prix" id="field_prix"
                        [(ngModel)]="commande.prix" required min="0" jhiMin="0"/>
                    <div [hidden]="!(editForm.controls.prix?.dirty && editForm.controls.prix?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.prix?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.prix?.errors?.min" jhiTranslate="entity.validation.min" translateValues="{ min: 0 }">
                            This field should be at least 0.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.prix?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="btbApp.commande.etat" for="field_etat">Etat</label>
                    <select class="form-control" name="etat" [(ngModel)]="commande.etat" id="field_etat"  required>
                        <option value="ATTENTE">{{'btbApp.EtatCommande.ATTENTE' | translate}}</option>
                        <option value="ACCEPTEE">{{'btbApp.EtatCommande.ACCEPTEE' | translate}}</option>
                        <option value="REFUSEE">{{'btbApp.EtatCommande.REFUSEE' | translate}}</option>
                        <option value="VALIDEE">{{'btbApp.EtatCommande.VALIDEE' | translate}}</option>
                        <option value="EN_LIVRAISON">{{'btbApp.EtatCommande.EN_LIVRAISON' | translate}}</option>
                        <option value="LIVREE">{{'btbApp.EtatCommande.LIVREE' | translate}}</option>
                    </select>
                    <div [hidden]="!(editForm.controls.etat?.dirty && editForm.controls.etat?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.etat?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="btbApp.commande.offre" for="field_offre">Offre</label>
                    <select class="form-control" id="field_offre" name="offre" [(ngModel)]="commande.offreId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="offreOption.id" *ngFor="let offreOption of offres; trackBy: trackOffreById">{{offreOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="btbApp.commande.client" for="field_client">Client</label>
                    <select class="form-control" id="field_client" name="client" [(ngModel)]="commande.clientId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="clientOption.id" *ngFor="let clientOption of clients; trackBy: trackClientById">{{clientOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
