<div *ngIf="producer">
  <mat-list *ngFor="let offer of offers">
    <mat-list-item>
      <div>
        <b> {{offer.getSpeciesAsString()}} </b>
        {{offer.getQuantity()}}m³
      </div>
    </mat-list-item>
    <mat-divider> </mat-divider>

  </mat-list>
</div>
