<div *ngIf="producer">
  <mat-accordion *ngIf="offers">
    <mat-expansion-panel *ngFor="let offer of offers">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{offer.getSpeciesAsString()}}
        </mat-panel-title>
      </mat-expansion-panel-header>

      <h5> {{offer.getCommunes()}} </h5>
      <h6> Taille: {{offer.getSize()}}cm</h6>
      <h6> Quantité: {{offer.getQuantity()}}m³</h6>

    </mat-expansion-panel>

  </mat-accordion>

</div>