<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="producteur">
            <h2><span jhiTranslate="btbApp.producteur.detail.title">Producteur</span> {{producteur.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="btbApp.producteur.email">Email</span></dt>
                <dd>
                    <span>{{producteur.email}}</span>
                </dd>
                <dt><span jhiTranslate="btbApp.producteur.photo">Photo</span></dt>
                <dd>
                    <div *ngIf="producteur.photo">
                        <a (click)="openFile(producteur.photoContentType, producteur.photo)">
                            <img [src]="'data:' + producteur.photoContentType + ';base64,' + producteur.photo" style="max-width: 100%;" alt="producteur image"/>
                        </a>
                        {{producteur.photoContentType}}, {{byteSize(producteur.photo)}}
                    </div>
                </dd>
                <dt><span jhiTranslate="btbApp.producteur.nom">Nom</span></dt>
                <dd>
                    <span>{{producteur.nom}}</span>
                </dd>
                <dt><span jhiTranslate="btbApp.producteur.prenom">Prenom</span></dt>
                <dd>
                    <span>{{producteur.prenom}}</span>
                </dd>
                <dt><span jhiTranslate="btbApp.producteur.password">Password</span></dt>
                <dd>
                    <span>{{producteur.password}}</span>
                </dd>
                <dt><span jhiTranslate="btbApp.producteur.description">Description</span></dt>
                <dd>
                    <span>{{producteur.description}}</span>
                </dd>
                <dt><span jhiTranslate="btbApp.producteur.commune">Commune</span></dt>
                <dd>
                    <span *ngFor="let commune of producteur.communes; let last = last">
                        <a [routerLink]="['/commune', commune?.id, 'view' ]">{{commune.id}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/producteur', producteur.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
