<div>
    <h2 id="page-heading">
        <span jhiTranslate="btbApp.producteur.home.title">Producteurs</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-producteur"
            [routerLink]="['/producteur/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span jhiTranslate="btbApp.producteur.home.createLabel">
                Create new Producteur
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br />
    <div class="table-responsive" *ngIf="producteurs">
        <table mat-table [dataSource]="producteurs">

            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef> ID </th>
                <td mat-cell *matCellDef="let producteur"> <a [routerLink]="['/producteur', producteur.id, 'view' ]">{{producteur.id}}</a>
                </td>
            </ng-container>

            <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef> Email </th>
                <td mat-cell *matCellDef="let producteur"> {{producteur.email}} </td>
            </ng-container>

            <ng-container matColumnDef="photo">
                <th mat-header-cell *matHeaderCellDef> Photo </th>
                <td mat-cell *matCellDef="let producteur">
                    <a *ngIf="producteur.photo" (click)="openFile(producteur.photoContentType, producteur.photo)">
                        <img [src]="'data:' + producteur.photoContentType + ';base64,' + producteur.photo" style="max-height: 30px;"
                            alt="producteur image" />
                    </a>
                    <span *ngIf="producteur.photo">{{producteur.photoContentType}}, {{byteSize(producteur.photo)}}</span>
                </td>
            </ng-container>

            <ng-container matColumnDef="nom">
                <th mat-header-cell *matHeaderCellDef> Nom </th>
                <td mat-cell *matCellDef="let producteur"> {{producteur.nom}} </td>
            </ng-container>

            <ng-container matColumnDef="prenom">
                <th mat-header-cell *matHeaderCellDef> Prenom </th>
                <td mat-cell *matCellDef="let producteur"> {{producteur.prenom}} </td>
            </ng-container>

            <ng-container matColumnDef="password">
                <th mat-header-cell *matHeaderCellDef> Password </th>
                <td mat-cell *matCellDef="let producteur">{{producteur.Password}} </td>
            </ng-container>

            <ng-container matColumnDef="description">
                <th mat-header-cell *matHeaderCellDef> Description </th>
                <td mat-cell *matCellDef="let producteur"> {{producteur.description}} </td>
            </ng-container>

            <ng-container matColumnDef="commune">
                <th mat-header-cell *matHeaderCellDef> Commune </th>
                <td mat-cell *matCellDef="let producteur">
                    <span *ngFor="let commune of producteur.communes; let last = last">
                        <a class="form-control-static" [routerLink]="['../commune', commune?.id, 'view' ]">{{commune.id}}</a>
                        {{last ? '' : ', '}}
                    </span>
                </td>
            </ng-container>

            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef> </th>
                <td class="text-right" mat-cell *matCellDef="let producteur">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit" [routerLink]="['/producteur', producteur.id, 'view' ]" class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit" [routerLink]="['/producteur', producteur.id, 'edit']" class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit" [routerLink]="['/', { outlets: { popup: 'producteur/'+ producteur.id + '/delete'} }]"
                            replaceUrl="true" queryParamsHandling="merge" class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
</div>