<div>
    <h2 id="page-heading">
        <span jhiTranslate="btbApp.commune.home.title">Communes</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-commune" [routerLink]="['/commune/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span jhiTranslate="btbApp.commune.home.createLabel">
                Create new Commune
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br />
    <div class="table-responsive" *ngIf="communes">
        <table mat-table [dataSource]="communes">

            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef> ID </th>
                <td mat-cell *matCellDef="let commune">
                    <a [routerLink]="['/commune', commune.id, 'view' ]">{{commune.id}}</a>
                </td>
            </ng-container>

            <ng-container matColumnDef="nom">
                <th mat-header-cell *matHeaderCellDef> Nom </th>
                <td mat-cell *matCellDef="let commune">{{commune.nom}}</td>
            </ng-container>

            <ng-container matColumnDef="codePostal">
                <th mat-header-cell *matHeaderCellDef> Code Postal </th>
                <td mat-cell *matCellDef="let commune"> {{commune.codePostal}}</td>
            </ng-container>

            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef> </th>
                <td class="text-right" mat-cell *matCellDef="let commune">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit" [routerLink]="['/commune', commune.id, 'view' ]" class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit" [routerLink]="['/commune', commune.id, 'edit']" class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit" [routerLink]="['/', { outlets: { popup: 'commune/'+ commune.id + '/delete'} }]"
                            replaceUrl="true" queryParamsHandling="merge" class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </div>
</div>