<div>
    <h2 id="page-heading">
        <span jhiTranslate="btbApp.offre.home.title">Offres</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-offre" [routerLink]="['/offre/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span jhiTranslate="btbApp.offre.home.createLabel">
                Create new Offre
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br />
    <div class="table-responsive" *ngIf="offres">
        <table class="table table-striped">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
                    <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th jhiSortBy="nom"><span jhiTranslate="btbApp.offre.nom">Nom</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th jhiSortBy="prix"><span jhiTranslate="btbApp.offre.prix">Prix</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th jhiSortBy="taille"><span jhiTranslate="btbApp.offre.taille">Taille</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th jhiSortBy="frequence"><span jhiTranslate="btbApp.offre.frequence">Frequence</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th jhiSortBy="description"><span jhiTranslate="btbApp.offre.description">Description</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th jhiSortBy="stock"><span jhiTranslate="btbApp.offre.stock">Stock</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th jhiSortBy="dateLivraison"><span jhiTranslate="btbApp.offre.dateLivraison">Date Livraison</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th jhiSortBy="datePublication"><span jhiTranslate="btbApp.offre.datePublication">Date Publication</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th jhiSortBy="boisId"><span jhiTranslate="btbApp.offre.bois">Bois</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th jhiSortBy="producteurId"><span jhiTranslate="btbApp.offre.producteur">Producteur</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']"
                [infiniteScrollDistance]="0">
                <tr *ngFor="let offre of offres ;trackBy: trackId">
                    <td><a [routerLink]="['/offre', offre.id, 'view' ]">{{offre.id}}</a></td>
                    <td>{{offre.nom}}</td>
                    <td>{{offre.prix}}</td>
                    <td>{{offre.taille}}</td>
                    <td jhiTranslate="{{'btbApp.Frequence.' + offre.frequence}}">{{offre.frequence}}</td>
                    <td>{{offre.description}}</td>
                    <td>{{offre.stock}}</td>
                    <td>{{offre.dateLivraison | date:'mediumDate'}}</td>
                    <td>{{offre.datePublication | date:'mediumDate'}}</td>
                    <td>
                        <div *ngIf="offre.boisId">
                            <a [routerLink]="['../bois', offre.boisId , 'view' ]">{{offre.boisId}}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="offre.producteurId">
                            <a [routerLink]="['../producteur', offre.producteurId , 'view' ]">{{offre.producteurId}}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit" [routerLink]="['/offre', offre.id, 'view' ]" class="btn btn-info btn-sm">
                                <fa-icon [icon]="'eye'"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>
                            <button type="submit" [routerLink]="['/offre', offre.id, 'edit']" class="btn btn-primary btn-sm">
                                <fa-icon [icon]="'pencil-alt'"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>
                            <button type="submit" [routerLink]="['/', { outlets: { popup: 'offre/'+ offre.id + '/delete'} }]"
                                replaceUrl="true" queryParamsHandling="merge" class="btn btn-danger btn-sm">
                                <fa-icon [icon]="'times'"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>