<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="offre">
            <h2><span jhiTranslate="btbApp.offre.detail.title">Offre</span> {{offre.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="btbApp.offre.nom">Nom</span></dt>
                <dd>
                    <span>{{offre.nom}}</span>
                </dd>
                <dt><span jhiTranslate="btbApp.offre.prix">Prix</span></dt>
                <dd>
                    <span>{{offre.prix}}</span>
                </dd>
                <dt><span jhiTranslate="btbApp.offre.taille">Taille</span></dt>
                <dd>
                    <span>{{offre.taille}}</span>
                </dd>
                <dt><span jhiTranslate="btbApp.offre.frequence">Frequence</span></dt>
                <dd>
                    <span jhiTranslate="{{'btbApp.Frequence.' + offre.frequence}}">{{offre.frequence}}</span>
                </dd>
                <dt><span jhiTranslate="btbApp.offre.description">Description</span></dt>
                <dd>
                    <span>{{offre.description}}</span>
                </dd>
                <dt><span jhiTranslate="btbApp.offre.stock">Stock</span></dt>
                <dd>
                    <span>{{offre.stock}}</span>
                </dd>
                <dt><span jhiTranslate="btbApp.offre.dateLivraison">Date Livraison</span></dt>
                <dd>
                    <span>{{offre.dateLivraison}}</span>
                </dd>
                <dt><span jhiTranslate="btbApp.offre.datePublication">Date Publication</span></dt>
                <dd>
                    <span>{{offre.datePublication}}</span>
                </dd>
                <dt><span jhiTranslate="btbApp.offre.bois">Bois</span></dt>
                <dd>
                    <div *ngIf="offre.boisId">
                        <a [routerLink]="['/bois', offre.boisId, 'view']">{{offre.boisId}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="btbApp.offre.commune">Commune</span></dt>
                <dd>
                    <span *ngFor="let commune of offre.communes; let last = last">
                        <a [routerLink]="['/commune', commune?.id, 'view' ]">{{commune.id}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
                <dt><span jhiTranslate="btbApp.offre.producteur">Producteur</span></dt>
                <dd>
                    <div *ngIf="offre.producteurId">
                        <a [routerLink]="['/producteur', offre.producteurId, 'view']">{{offre.producteurId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/offre', offre.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
