<mat-expansion-panel [expanded]="panelOpenState" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
  <mat-expansion-panel-header>
    <mat-panel-title>
      Recherche
    </mat-panel-title>
  </mat-expansion-panel-header>

  <mat-card-content>

    <h2 class="example-h2">Zone géographique</h2>
    <mat-form-field>
      <mat-select placeholder="Sélectionnez votre commune" (selectionChange)="getMatchingProducers()" [(value)]="selectedCommune">
        <mat-option *ngFor="let commune of getCommunes()" [value]="commune">
          {{ commune.toString() }}
        </mat-option>
      </mat-select>
    </mat-form-field>


    <h2 class="example-h2">Taille</h2>
    <section class="example-section">
      <div *ngFor="let size of _sizes">
        <mat-checkbox class="example-margin" [(ngModel)]="size[1]">{{ size[0] }}cm</mat-checkbox>
      </div>
    </section>


    <h2 class="example-h2">Essence</h2>
    <section class="example-section">
      <div *ngFor="let species of _species">
        <mat-checkbox class="example-margin" [(ngModel)]="species[1]">{{ species[0] }}</mat-checkbox>
      </div>
    </section>


  </mat-card-content>
</mat-expansion-panel>


<mat-list *ngFor="let prod of _matchingProducers">
  <mat-card (click)="onClickProducer(prod)">
    <mat-card-title>{{prod.getName()}}</mat-card-title>
    <img mat-card-avatar src={{prod.getImage()}}>
    {{prod.getInfos()}}
    <mat-divider></mat-divider>
    <mat-list *ngFor="let offer of getMatchingOffers(prod)">
      <mat-list-item>{{offer.getName()}} / {{offer.getSpeciesAsString()}} / {{offer.getSize()}}cm /
        {{offer.getQuantity()}}m³</mat-list-item>
    </mat-list>
  </mat-card>
</mat-list>