<div>
    <h2 id="page-heading">
        <span jhiTranslate="btbApp.bois.home.title">Bois</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-bois" [routerLink]="['/bois/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span jhiTranslate="btbApp.bois.home.createLabel">
                Create new Bois
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br />
    <div class="table-responsive" *ngIf="bois">
        <table mat-table [dataSource]="bois">

            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef> ID </th>
                <td mat-cell *matCellDef="let bois"> <a [routerLink]="['/bois', bois.id, 'view' ]">{{bois.id}}</a>
                </td>
            </ng-container>

            <ng-container matColumnDef="essence">
                <th mat-header-cell *matHeaderCellDef> Essence </th>
                <td mat-cell *matCellDef="let bois">{{bois.essence}}</td>
            </ng-container>

            <ng-container matColumnDef="photo">
                <th mat-header-cell *matHeaderCellDef> Photo </th>
                <td mat-cell *matCellDef="let bois">
                    <a *ngIf="bois.photo" (click)="openFile(bois.photoContentType, bois.photo)">
                        <img [src]="'data:' + bois.photoContentType + ';base64,' + bois.photo" style="max-height: 30px;"
                            alt="bois image" />
                    </a>
                    <span *ngIf="bois.photo">{{bois.photoContentType}}, {{byteSize(bois.photo)}}</span>
                </td>
            </ng-container>

            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef></th>
                <td class="text-right" mat-cell *matCellDef="let bois">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit" [routerLink]="['/bois', bois.id, 'view' ]" class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit" [routerLink]="['/bois', bois.id, 'edit']" class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit" [routerLink]="['/', { outlets: { popup: 'bois/'+ bois.id + '/delete'} }]"
                            replaceUrl="true" queryParamsHandling="merge" class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
</div>