<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="bois">
            <h2><span jhiTranslate="btbApp.bois.detail.title">Bois</span> {{bois.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="btbApp.bois.essence">Essence</span></dt>
                <dd>
                    <span>{{bois.essence}}</span>
                </dd>
                <dt><span jhiTranslate="btbApp.bois.photo">Photo</span></dt>
                <dd>
                    <div *ngIf="bois.photo">
                        <a (click)="openFile(bois.photoContentType, bois.photo)">
                            <img [src]="'data:' + bois.photoContentType + ';base64,' + bois.photo" style="max-width: 100%;" alt="bois image"/>
                        </a>
                        {{bois.photoContentType}}, {{byteSize(bois.photo)}}
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/bois', bois.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
