<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-bois-heading" jhiTranslate="btbApp.bois.home.createOrEditLabel">Create or edit a Bois</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!bois.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="bois.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="btbApp.bois.essence" for="field_essence">Essence</label>
                    <input type="text" class="form-control" name="essence" id="field_essence"
                        [(ngModel)]="bois.essence" required/>
                    <div [hidden]="!(editForm.controls.essence?.dirty && editForm.controls.essence?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.essence?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="btbApp.bois.photo" for="field_photo">Photo</label>
                    <div>
                        <img [src]="'data:' + bois.photoContentType + ';base64,' + bois.photo" style="max-height: 100px;" *ngIf="bois.photo" alt="bois image"/>
                        <div *ngIf="bois.photo" class="form-text text-danger clearfix">
                            <span class="pull-left">{{bois.photoContentType}}, {{byteSize(bois.photo)}}</span>
                            <button type="button" (click)="clearInputImage('photo', 'photoContentType', 'fileImage')" class="btn btn-secondary btn-xs pull-right">
                                <fa-icon [icon]="'times'"></fa-icon>
                            </button>
                        </div>
                        <input type="file" id="file_photo" (change)="setFileData($event, bois, 'photo', true)" accept="image/*" jhiTranslate="entity.action.addimage"/>
                    </div>
                    <input type="hidden" class="form-control" name="photo" id="field_photo"
                        [(ngModel)]="bois.photo" />
                    <input type="hidden" class="form-control" name="photoContentType" id="field_photoContentType"
                        [(ngModel)]="bois.photoContentType" />
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
