<div>
    <h2 id="page-heading">
        <span jhiTranslate="btbApp.client.home.title">Clients</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-client" [routerLink]="['/client/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span jhiTranslate="btbApp.client.home.createLabel">
                Create new Client
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br />

    <div class="table-responsive" *ngIf="clients">
        <table mat-table [dataSource]="clients">

            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef> ID </th>
                <td mat-cell *matCellDef="let client"> <a [routerLink]="['/client', client.id, 'view' ]">{{client.id}}</a>
                </td>
            </ng-container>

            <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef> Email </th>
                <td mat-cell *matCellDef="let client">{{client.email}}</td>
            </ng-container>

            <ng-container matColumnDef="photo">
                <th mat-header-cell *matHeaderCellDef> Photo </th>
                <td mat-cell *matCellDef="let client">
                    <a *ngIf="client.photo" (click)="openFile(client.photoContentType, client.photo)">
                        <img [src]="'data:' + client.photoContentType + ';base64,' + client.photo" style="max-height: 30px;"
                            alt="client image" />
                    </a>
                    <span *ngIf="client.photo">{{client.photoContentType}}, {{byteSize(client.photo)}}</span>
                </td>
            </ng-container>

            <ng-container matColumnDef="nom">
                <th mat-header-cell *matHeaderCellDef> Nom </th>
                <td mat-cell *matCellDef="let client"> {{client.nom}}</td>
            </ng-container>

            <ng-container matColumnDef="prenom">
                <th mat-header-cell *matHeaderCellDef> Prenom </th>
                <td mat-cell *matCellDef="let client">{{client.prenom}}</td>
            </ng-container>

            <ng-container matColumnDef="password">
                <th mat-header-cell *matHeaderCellDef> Password </th>
                <td mat-cell *matCellDef="let client">{{client.password}}</td>
            </ng-container>

            <ng-container matColumnDef="commune">
                <th mat-header-cell *matHeaderCellDef> Commune </th>
                <td mat-cell *matCellDef="let client"><span *ngFor="let commune of client.communes; let last = last">
                        <a class="form-control-static" [routerLink]="['../commune', commune?.id, 'view' ]">{{commune.id}}</a>{{last
                        ? '' : ', '}}
                    </span></td>
            </ng-container>

            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef> </th>
                <td class="text-right" mat-cell *matCellDef="let client">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit" [routerLink]="['/client', client.id, 'view' ]" class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit" [routerLink]="['/client', client.id, 'edit']" class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit" [routerLink]="['/', { outlets: { popup: 'client/'+ client.id + '/delete'} }]"
                            replaceUrl="true" queryParamsHandling="merge" class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        </table>
    </div>
</div>