<mat-tab-group mat-align-tabs="center" *ngIf="producer">
  <mat-tab label="Tournées">
    <jhi-offers-list [producer]="producer"> </jhi-offers-list>
  </mat-tab>
  <mat-tab label="Bois">
    <jhi-wood-types-list [producer]="producer"></jhi-wood-types-list>
  </mat-tab>
  <mat-tab label="Services">
    <jhi-services-list> </jhi-services-list>
  </mat-tab>
</mat-tab-group>
