<div *ngIf="producer">

  <mat-card>
    <jhi-producer-information [producer]="producer"></jhi-producer-information>

    <jhi-propositions [producer]="producer"> </jhi-propositions>
  </mat-card>

</div>
