<div *ngIf="producer">
  <mat-card-header>

    <img mat-card-avatar src={{producer.getImage()}}>

    <mat-card-title> {{producer.getName()}} </mat-card-title>

  </mat-card-header>
  <mat-card-content>
    <p>
      {{producer.getInfos()}}
    </p>
  </mat-card-content>
</div>
